/* NAVBAR */
#titleLogo {
    border: 5px solid black;
    max-height: 80px;
}

.navbar-brand {
    display: inline-block;
}

.links {
    margin: auto 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 3px 10px;
    font-size: calc(10px + 1.05vw);
    white-space: nowrap;
}