/* COLOR OPTIONS */
/* 
Primary Blue --> rgb(12, 59, 93), #0c3b5d;
Primary Green --> rgb(25, 178, 80), #19b250;
Secondary Blue --> rgb(0, 160, 223), #00a0df;
Tertiary Blue --> rgb(33, 94, 172), #215eac;
linear-gradient(135deg,rgba() 0%,rgb() 100%)
linear-gradient(135deg,rgb() 0%,rgb() 100%)
linear-gradient(135deg,rgb() 0%,rgb() 50%,rgb() 100%) 
*/

#wrapper  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.hidden {
    display: none;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 12px;
    height: 10px;
    scrollbar-width: 10px;
    scrollbar-color: rgb(0, 160, 223), rgb(12, 59, 93);
}

/* Track */
::-webkit-scrollbar-track {
	background: rgb(12, 59, 93); 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(25, 178, 80); 
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(25, 178, 80);
}

/* NAVBAR */
#navMain {
    background-color: rgb(38, 38, 38);
    backdrop-filter: blur(8px) contrast(100%);
    -webkit-backdrop-filter: blur(8px) contrast(100%);
    height: 90px;
}

#navContainer {
    height: 90px;
}

#titleLogo {
    max-height: 90px;
    /* width: 70%; */
    border-radius: 7px;
}

.navbar-brand {
    display: inline-block;
    margin-left: 0.8vw;
}

.visibleLinks {
    margin: auto 10px;
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    font-size: calc(9px + 0.5vw);
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.45);
    background-color: rgb(33, 94, 172);
    color: white;
}

.visibleLinks:hover {
    background-color: white;
    color: rgb(12, 59, 93);
}

#dropdownMenu {
    text-align: center;
    margin-top: -4px;
    padding: 2px 10px;
    background-color: rgb(38, 38, 38);
}

.dropdownList {
    margin: 20px auto;
}

.dropdownLinks {
    border-radius: 5px;
    text-align: center;
    padding: 5px 10px;
    font-size: calc(9px + 0.5vw);
    font-family: "Poppins", sans-serif;
    white-space: nowrap;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.45);
    background-color: rgb(33, 94, 172);
    color: white;
    display: block;
}

.dropdownLinks:hover {
    background-color: white;
    color: rgb(12, 59, 93);
}

.mobileLinks {
    display: none;
}

@media screen and (max-width: 991.8px) {

    #dropdownCtrl, #dropdownMenu {
        display: none;
    }

    .mobileLinks {
        display: block;
    }

    .links {
        margin: 5px 10px;
        font-size: calc(10px + 0.75vw);
        color: rgb(0, 160, 223);
        background-color: white;
        border-radius: 5px;
        text-align: center;
        padding: 5px 10px;
        font-family: "Poppins", sans-serif;
        white-space: nowrap;
        box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.45);
    }

    .links:hover {
        background-color: rgb(0, 160, 223);
        color: white;
    }

    #hamButton {
        border: 3px solid rgb(25, 178, 80, 0.85);
    }

    #hamButton:focus {
        outline: none;
        box-shadow: none;
    }

    #spanIcon {
        background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(25, 178, 80)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

    #hamburgerList {
        float: right;
        background-color: rgb(12, 59, 93);
        border-radius: 15px;
        padding: 10px 20px;
    }

    #navMain {
        /* height: 110px; */
        /* border: 1px solid white; */
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    #navContainer {
        /* height: 110px; */
        /* border: 1px solid white; */
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        align-items: center;
    }

    #dropdownMenu {
        background-color: rgb(12, 59, 93);
    }

    #titleLogo {
        margin-top: -5px !important;
    }
}

/* GLOBAL CSS */
body {
    padding-top: 90px;
}

.topRow {
    /* border: 1px solid red;
    display: flex;
    justify-content: center; */
}

.topDiv {
    /* width: 97vw; */
    height: 80vh;
    position: relative;
    /* background-size: 100vw 80vh; */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* display: flex;
    justify-content: center; */
    /* border-radius: 5px; */
}

.heroDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 94, 172, 0.8);
    /* display: flex;
    justify-content: center; */
    /* border-radius: 5px; */
}

.heroTextRow {
    display: flex;
    justify-content: center;
    text-align: center;
}

.heroTextDiv {
    color: white;
}

.heroText{
    font-size: calc(12px + 4.4vw);
    font-family: "Averia Libre", cursive;
}

h3 {
    font-size: calc(12px + 1.4vw);
    font-family: "Poppins", sans-serif;
}

.secondRow {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.thirdRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.fourthRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.fifthRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.sixthRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.seventhRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.boxes {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.45);
}

.formDiv {
    border-radius: 5px;
    background-color: rgb(0, 160, 223);
    text-align: center;
    margin: 25px;
    padding: 30px 0px 20px 0px;
    align-items: center;
    scroll-margin-top: 65px;
}

.contactForms {
    /* display: inline-block; */
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
}

.forms {
    /* border: 1px solid black; */
    margin-right: 25px;
}

.formTitle {
    font-size: calc(12px + 1.4vw);
    font-family: "Poppins", sans-serif;
    margin: auto 15px 25px 15px;
}

.textbox {
    margin: 10px auto;
    width: 35vw;
    height: 7vh;
    text-align: center;
    border-radius: 5px;
    font-size: calc(10px + 0.6vw);
    font-family: "Poppins", sans-serif;
}

.textbox[placeholder] {
    font-size: calc(10px + 0.6vw);
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 670px) {
    .textbox[placeholder] {
        font-size: calc(10px + 1vw);
        font-family: "Poppins", sans-serif;
    }

    .textbox {
        width: 70vw;
    }
}

.messageBox {
    padding: 15px 2px;
    height: 14vh;
}

.send {
    background-color: white;
    color: rgb(0, 160, 223);
    font-size: calc(12px + 0.9vw);
    border-radius: 5px;
    font-family: "Averia Libre", cursive;
    margin-top: 15px;;
}

.legalText {
    font-size: calc(6px + 0.35vw);
}

.funnelRow {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.funnelDiv {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* FIRST ROW MAIN PAGE */
#topDivMain {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1677372730/LEARCO/Diverse2.jpg");
}

#mainPageHero {
    margin-top: 22vh;
}

/* SECOND ROW MAIN PAGE */
#secondRowMain {
    margin: 75px auto;
}

#servicesDivTitle {
    display: block;
    justify-content: center;
    text-align: center;
}

#toolTitle {
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.8vw);
}

#welcomeMsg {
    font-size: calc(10px + 1vw);
    font-family: "Poppins", sans-serif;
}

.toolsDiv {
    display: block;
    text-align: center;
    margin-top: 25px;
    font-family: "Poppins", sans-serif;
}

.toolsIcons {
    font-size: calc(12px + 2vw);
    margin: 15px auto;
    color: rgb(25, 178, 80);
}

.toolsDivTitles {
    font-size: calc(10px + 0.7vw);
}

@media screen and (max-width: 761.5px) {
    #toolTitle {
        font-size: calc(12px + 2.4vw);
    }

    #welcomeMsg {
        font-size: calc(12px + 1vw);
    }

    .toolsIcons {
        font-size: calc(12px + 3vw);
    }

    .toolsDivTitles {
        font-size: calc(11px + 1.2vw);
    }

    .toolsDiv {
        position: relative;
        z-index: 1;
    }

    .toolsDiv:before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        width: 50%;
        border-bottom: 1px solid rgb(0, 160, 223);
    }
}

/* THIRD ROW MAIN PAGE */]
#thirdRowMain {
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshotDiv {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#headshot {
    width: 55%;
}

#welcomeQuoteDiv {
    position: relative;
	background: #0c3b5d;
	border-radius: .4em;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 3% 3%;
    color: white;
    /* height: 35vh; */
}
    
#welcomeQuoteDiv:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 82px solid transparent;
    border-right-color: #0c3b5d;
    border-left: 0;
    border-top: 0;
    margin-top: -41px;
    margin-left: -82px;
}

#welcomeQuote {
    font-size: calc(10px + 1.1vw);
    font-family: "Poppins", sans-serif;
}

#quoteBy {
    text-align: right;
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.1vw);
}


@media screen and (max-width: 1000px) {
    #welcomeQuoteDiv:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 60px solid transparent;
        border-right-color: #0c3b5d;
        border-left: 0;
        border-top: 0;
        margin-top: -28px;
        margin-left: -60px;
    }
}

@media screen and (max-width: 769px) {
    #headshot {
        /* width: 30% */
    }

    #welcomeQuoteDiv {
        margin-top: 35px;
        padding: 20px 16px;
    }

    #welcomeQuoteDiv:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 30px solid transparent;
        border-bottom-color: #0c3b5d;
        border-top: 0;
        margin-left: -30px;
        margin-top: -30px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1031px) {
    #headshotDiv {
        justify-content: left;
    }

    #headshot {
        width: 75%;
    }
}



/* BUSINESS CAPITAL PAGE */
#topDivBiz {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1677372783/LEARCO/Diverse6.jpg");
}

#bizPageHero {
    margin-top: 15vh;
}

.boxTops {
    font-family: "Averia Libre", cursive;
    font-size: calc(10px + 0.7vw);
}

.boxText {
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 0.5vw);
}

.bizCapBoxes {
    margin: 5px 10px auto 10px;
    min-height: 40vh;
    padding-top: 15px;
    color: white;
    padding-top: 25px;
}

.bizCapBoxAlt {
    margin-top: 50px;
    padding-top: 55px;
    background-color: rgb(12, 59, 93);
    /* padding-bottom: 15px; */
}

@media screen and (max-width: 767.8px) {
    .bizCapBoxes {
        margin-top: 15px;
    }

    .boxTops {
        font-size: calc(12px + 1.2vw);
    }

    .boxText {
        font-size: calc(10px + 1.5vw);
    }

}


/* EMP PAY ANYDAY PAGE */
#topDivEmpPay {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1677372765/LEARCO/Diverse7.jpg");
}

#empPayPageHero {
    margin-top: 8vh;
}

@media screen and (max-width: 800px) {
    #empPayPageHero {
        margin-top: 14vh;
    }
}

#empPayDiv {
    background-color: rgb(12, 59, 93, 0.9);
    color: white;
    display: block;
    text-align: center;
    /* margin-top: -10vh; */
    z-index: 1;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.45);
    padding-bottom: 20px;
}

#handOutIcon {
    font-size: calc(12px + 2.5vw);
    margin: 15px auto;
    /* border: 1px solid black; */
    display: inline-block;
}

#empPayAboutTitle {
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.9vw);
}

#empPayAbout {
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 0.75vw);
}

/* R&D TAX PAGE */
#topDivRdTax {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1677372761/LEARCO/Diverse1.jpg");
}

#rdTaxPageHero {
    margin-top: 15vh;
}

.rdTaxBoxes {
    margin: 15px 5px;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-size: calc(11px + 0.8vw);
}

#rdTaxBox1 {
    background-color: rgb(33, 94, 172);
    color: white;
}

#rdTaxBox2 {
    background-color: rgb(25, 178, 80);
    color: rgb(12, 59, 93);
    font-weight: 600;
}

#rdTaxBox3 {
    background-color: rgb(33, 94, 172);
    color: white;
}

.rdTaxIcons {
    margin: 5vh auto 2vh auto;
    font-size: calc(12px + 2vw);
}

#rdTaxDescriptor {
    display: block;
    align-items: center;
    /* border: 1px solid black; */
    padding: 25px;
    border-radius: 25px;
    margin: 15px auto;
    background-color: rgb(12, 59, 93);
    color: white;
    font-size: calc(12px + 1.2vw);
}

#rdTaxDescriptorTitle {
    text-align: center;
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.8vw);
}

#rdTaxDescriptorList {
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 0.8vw);
}

#rdTaxDescriptorList li {
    margin: 15px auto;
}


/* ASSET BACKED PAGE */
#topDivHealth {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1699835409/LEARCO/online-marketing-hIgeoQjS_iE-unsplash.jpg");
}

#healthPageHero {
    margin-top: 12vh;
}

@media screen and (min-width: 1250px) {
    #healthPageHero {
        margin-top: 7.5vh;
    }
}

#healthDescriptor {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.healthBoxes {
    text-align: center;
    background-color: rgb(33, 94, 172);
    /* border: 1px solid rgb(25, 178, 80); */
    /* Border Radius, and Font Family handled individually below. Font-Size handled inline HTML */
    padding: 10px auto;
    color: white;
}

#assBox1 {
    border-radius: 5px 0px 0px 5px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

#assBox2 {
    border-radius: 0px; 
    font-family: 'Averia Libre', cursive;
    background-color: rgb(12, 59, 93);
    color: white;
}

#assBox3 {
    border-radius: 0px 5px 5px 0px; 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 720px) {
    #healthDescriptor {
        display: block;
    }

    .healthBoxes {
        margin: 15px auto;
        border-radius: 5px;
        padding: 15px 0px;
    }

}

.healthIconDiv {
    margin: 20px auto;
    padding: 5px 20px;
}

.healthIcons {
    font-size: calc(12px + 3vw);
}

.healthDescriptors {
    /* font-size: calc(12px + 1.6vw); */
}


/* ERTC PAGE */
#topDivErtc {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1678301246/LEARCO/Diverse4.jpg");
}

#ertcPageHero {
    margin-top: 18vh;
}

#ertcDescriptorDiv {
    text-align: center;
    background-color: rgb(12, 59, 93);
    border-radius: 5px;
    color: white;
    padding-bottom: 25px;
}

#ertcDescriptorTitle {
    margin-top: 25px;
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 2.4vw);
}

#ertcDescriptorsRow {
    margin: 30px auto;
}

#ertcDescriptorsRow h2 {
    font-family: "Averia Libre", cursive;
    margin: 14px;
}

.ertcDescriptorDivs {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 160, 223);
    color: rgb(12, 59, 93);
    font-weight: 600;
}

.ertcDescriptors {
    /* border: 1px solid black; */
    font-size: calc(12px + 1vw);
    margin: 35px auto;
    font-family: "Poppins", sans-serif;
}



/* PAYMENT PROCESSING PAGE */
#topDivPayProcess {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1682549496/LEARCO/Diverse5_2.jpg");
}

#payProcessPageHero {
    margin-top: 24vh;
}

#payProcessDealDiv {
    display: flex;
    justify-content: center;
    background-color: rgb(25, 178, 80);
    color: rgb(12, 59, 93);
    text-align: center;
    align-items: center;
    margin: 25px auto;
    border-radius: 35px;
    padding: 35px 25px;
}

#payProcessDealDiv h2 {
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.6vw);
}

#payProcessDealDiv h5 {
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 1vw);
}

#payProcessDescriptorPic {
    width: 85%;
}

@media screen and (max-width: 550px) {
    #payProcessDealDiv {
        display: block;
    }

    #payProcessDescriptorPic {
        width: 65%;
        margin-top: 30px;
    }
}


/* EQUIP FIN PAGE */
#topDivPharm {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1700440891/LEARCO/pharmacy1.jpg");
}

#pharmPageHero {
    margin-top: 15vh;
}

.pharmDescriptorDivs {
    text-align: center;
}

.pharmIcons {
    font-size: calc(12px + 2vw);
    margin: 10px auto;
}

#topPharmDescriptor {
    background-color: rgb(12, 59, 93);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 1vw);
    padding: 35px 20px;
    border-radius: 20px;
}

.middlePharmDescriptors {
    margin: auto;
    background-color: rgb(33, 94, 172);
    color: white;
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.2vw);
    padding: 50px 20px;
    border-radius: 15px;
    align-items: center;
}

#bottomPharmDescriptor {
    background-color: rgb(12, 59, 93);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 1vw);
    border-radius: 20px;
    padding: 35px 20px;
}

@media screen and (min-width: 1071px) {
    .middlePharmDescriptors {
        min-height: 40vh;
    }
}

@media screen and (max-width: 767px) {
    .middlePharmDescriptors{
        margin: 15px auto;
        font-size: calc(12px + 1.8vw);
    }
}

/* BIZ CONSULT PAGE */
#topDivBizConsult {
    background-image: url("https://res.cloudinary.com/learicist/image/upload/v1679032821/LEARCO/Diverse8.jpg");
}

#bizConsultPageHero {
    margin-top: 15vh;
}

#bizConsultPageHero h5 {
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 500px) {
    #topDivBizConsult {
        background-size: 160vw 90vh;
    }
}

.bizConsultRow {
    margin-top: 90px;
}

.bizConsultDescriptorDiv {
    border-radius: 5px;
    padding: 30px 5px;
    text-align: center;
}

#bizConsultDescriptorDiv1 {
    font-family: "Poppins", sans-serif;
    background-color: rgb(12, 59, 93);
    color: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

#bizConsultDescriptorDiv1 p {
    margin: 10px auto;
}

#thirdRowBizConsult div {
    margin: 0vh 3vw;
    background-color: rgb(25, 178, 80);
    color: rgb(12, 59, 93);
    padding: 15px 25px;
    border-radius: 15px;
}

#thirdRowBizConsult div h2 {
    font-family: "Averia Libre", cursive;
}

#thirdRowBizConsult div p {
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 0.6vw);
}

#fourthRowBizConsult div {
    margin: 0vh 4vw;   
}

#bizConsultDescriptorDiv4 {
    background-color: rgb(33, 94, 172);
    color: white;
    padding: 20px;
}

#bizConsultDescriptorDiv4 h2 {
    text-align: center;
    font-family: "Averia Libre", cursive;
}

#bizConsultDescriptorDiv4 ul {
    text-align: left;
    font-family: "Poppins", sans-serif;
}

#bizConsultDescriptorDiv4 ul li {
    margin: 5px auto;
}

#bizConsultDescriptorDiv5 {
    background-color: rgb(33, 94, 172);
    color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

#bizConsultDescriptorDiv5 h2 {
    font-family: "Averia Libre", cursive;
    margin-bottom: 10px;
}

#bizConsultDescriptorDiv5 p {
    font-family: "Poppins", sans-serif ;
}

#bizCon5-1 {
    text-align: center;
    font-size: calc(10px + 0.5vw);
}

#bizCon5-2 {
    text-align: justify;
    font-size: calc(10px + 0.4vw);
}

#bizCon5-3 {
    text-align: center;
    font-size: calc(10px + 0.5vw);
}

#bizConsultDescriptorDiv6 {
    background-color: rgb(25, 178, 80);
    color: rgb(12, 59, 93);
    padding: 30px 20px;
    border-radius: 15px;
}

#bizConsultDescriptorDiv6 h2 {
    font-family: "Averia Libre", cursive;
    font-size: calc(10px + 1.2vw);
}

#bizConsultDescriptorDiv6 p {
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 0.6vw);
}

#bizConsultDescriptorDiv7 {
    background-color: rgb(12, 59, 93);
    color: white;
    padding: 20px;
    border: 1px solid black;
}

#bizConsultDescriptorDiv7 h2 {
    font-family: "Averia Libre", cursive;
}

#bizConsultDescriptorDiv7 p {
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 0.6vw);
}

@media screen and (max-width: 767px) {
    #thirdRowBizConsult div {
        margin: 4vh 0vw;
    }

    #fourthRowBizConsult div {
        margin: 4vw 0vw;
    }
}

@media screen and (max-width: 300px) {
    #navContainer {
        height: 70px;
    }

    #navMain {
        height: 70px;
    }

    #titleLogo {
        max-height: 70px; 
    }

    #hamButton {
        border: 2px solid rgb(25, 178, 80, 0.85);
    }

    #spanIcon {
        background-image: url(
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(25, 178, 80)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        width: 22px;
        height: 25px;
    }
}

.funnelBtn {
    font-family: "Poppins", sans-serif;
    font-size: calc(12px + 1.5vw);
    text-decoration: none;
    color: rgb(12, 59, 93);
    background-color: rgb(0, 160, 223);
    padding: 10px 15px;
    border-radius: 5px;
}

.funnelBtn:hover {
    color: white;
}




/* FOOTER ALL PAGES */
#footRow1 {
    background-color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.footNavColumns {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.footNavColumnTitles {
    font-family: "Averia Libre", cursive;
    font-size: calc(12px + 1.6vw);
    color: white;
    margin-top: 25px;
}

#footLogo {
    width: 10vw;
}

#footNav2 {
    color: white;
    display: block;
    /* border-right: 2px inset rgb(25, 178, 80, 0.4); */
}

.footNavSocial{
    margin: 20px auto;
}

.footNavSocialIcons {
    color: white;
    font-size: calc(12px + 2vw);
}

.footNavSocialIcons:hover {
    color: rgb(0, 160, 223)
}

#footNav3 {
    display: block;
    color: white;
    border-right: 2px inset rgb(25, 178, 80, 0.4);
    border-left: 2px outset rgb(25, 178, 80, 0.4);
}

#footNavServicesDiv {
    margin-top: 20px;
}

.footNavLinkHouses {
    margin: 15px auto;
}

.footNavLinks {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: calc(10px + 0.6vw);
}

.footNavLinks:hover {
    color: rgb(0, 160, 223);
}

@media screen and (max-width: 1128.5px) {
    .footNavLinkHouses {
        margin: 10px auto;
    }

    #footNavServicesDiv {
        margin-top: 10px;
    }
}

#footNav4 {
    text-align: center;
    display: block;
    align-items: center;
}

#footNavContactDiv {
    margin: 35px auto;
}

.footNavContact {
    color: white;
    font-size: calc(10px + 0.8vw);
    font-family: "Poppins", sans-serif;
    margin: 20px auto;
}

.footNavContactLinks {
    color: white;
}

.footNavContactLinks:hover {
    color: rgb(0, 160, 223);
}

@media screen and (max-width: 1267px) and (min-width: 1013px) {
    #footLogo {
        width: 12vw;
    }
}

@media screen and (max-width: 1012.5px) {
    #footLogo {
        width: 14vw;
    }

    .footNavColumnTitles {
        font-size: calc(12px + 1.4vw);
    }

    .footNavLinkHouses {
        margin: 7px auto;
    }

    .footNavContact {
        margin: 17px auto;
    }

    #footNavContactDiv {
        margin: 30px auto;
    }
}

@media screen and (max-width: 767.5px) {
    #footLogo {
        width: 15vw;
    }

    #footRow1 {
        display: block;
        height: 100%;
        padding: 20px 0px;
    }

    .footNavColumnTitles {
        font-size: calc(12px + 2vw);
    }

    .footNavSocial:nth-child(4) {
        border-left: none;
        border-right: none;
        padding: 2px 0px 30px 0px;
        position: relative;
        z-index: 1;
    }

    .footNavSocial:nth-child(4):before {
        content: "";
        position: absolute;
        left: 25%;
        bottom: 0;
        width: 50%;
        border-bottom: 2px inset rgb(25, 178, 80, 0.4);
    }

    .footNavLinkHouses:nth-child(4) {
        border-left: none;
        border-right: none;
        padding: 2px 0px 30px 0px;
        position: relative;
        z-index: 1;
    }

    .footNavLinkHouses:nth-child(4):before {
        content: "";
        position: absolute;
        border-left: none;
        border-right: none;
        left: 25%;
        bottom: 0;
        width: 50%;
        border-bottom: 2px inset rgb(25, 178, 80, 0.4);
    }

    #consult_FootMid {
        border-left: none;
        border-right: none;
        padding: 2px 0px 30px 0px;
        position: relative;
        z-index: 1;
    }

    #consult_FootMid:before {
        content: "";
        position: absolute;
        border-left: none;
        border-right: none;
        left: 25%;
        bottom: 0;
        width: 50%;
        border-bottom: 2px inset rgb(25, 178, 80, 0.4);
    }

    #footNav3 {
        border-left: none;
        border-right: none;
    }

    .footNavSocialIcons {
        font-size: calc(12px + 3vw);
    }

    #footTag h5 {
        font-size: calc(12px + 0.8vw);
    }
}

@media screen and (max-width: 480px) {
    #footLogo {
        width: 20vw;
    }
}

@media screen and (max-width: 300px) {
    #footLogo {
        width: 28vw;
    }
}

#footRow2 {
    padding: 15px 0 5px 0;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: rgb(25, 178, 80, 0.85);
    align-items: center;
}

#footTag {
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

#learicist {
    color: black;
    
}


#consult_FootHome {
    color: white;
}

#consult_FootHome:hover {
    color:rgb(0, 160, 223);
}